@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #020013;
    background-size: cover;
    color: #f2f2f2;
    font-family: "poppins", sans-serif;
}

@font-face {
    font-family: 'Hellix';
    src: url('https://cdn.jsdelivr.net/gh/Nuclear-Games/Narrative_Nook_Assets_Storage@main/fonts/Hellix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: salmon;
    border: none;
    border-radius: 4px;
}

.hrline {
    width: 100%;
    height: 2px;
    background: lavenderblush;
}


h2 {
    font-weight: 900;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(107deg, #d86ae2 10.76%, #cd65e3 0, #6b3ced 61.63%, #221df4 88.29%);
    background-clip: text;
    -webkit-background-clip: text;
}

.Blogeditornavigatebtn{
    width: 200px;
    height: 50px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 2px solid #f69ebc;
    background: #ffffff1b;
    font-family: 'Hellix';
    position: absolute;
    right: 50px;
    top: 20px;
}


.box {
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;

}


.box .elementsbox {
    width: 30%;
    height: 550px;
    border-radius: 5px;
    overflow-y: scroll;
    border: 2.5px solid lavenderblush;
}


.box .realtimeblogview {
    width: 60%;
    height: 550px;
    margin-left: 40px;
    border-radius: 5px;
    border: 2.5px solid white;
}

/* Box CSS Done Now Button , Input , Iframe Alignment ! */

.box .elementsbox input {
    width: 53%;
    height: 43px;
    border: none;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-bottom: 10px;
    color: #f2f2f2;
    background: rgba(255, 255, 255, 0.104);
    font-family: "poppins", sans-serif;
}

.box .elementsbox select {
    width: 53%;
    height: 43px;
    border: none;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-bottom: 10px;
    color: #f2f2f2;
    background: rgba(255, 255, 255, 0.104);
    font-family: "poppins", sans-serif;
}

.box .elementsbox textarea {
    width: 53%;
    border: none;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-bottom: 10px;
    color: #f2f2f2;
    background: rgba(255, 255, 255, 0.104);
    font-family: "poppins", sans-serif;
}

.box .elementsbox button {
    width: 50%;
    height: 43px;
    border: none;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 45px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.104);
    font-family: "poppins", sans-serif;
}


.box .realtimeblogview iframe {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 1px;
}









.aiprompts{
    width: 91%;
    height: 640px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2.5px solid white;
    padding-left: 30px;
}

.aiprompts label{
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
}

.aiprompts input{
    width: 90%;
    height: 43px;
    float: left;
    border: none;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    margin-bottom: 10px;
    color: #f2f2f2;
    letter-spacing: .5px;
    background: rgba(255, 255, 255, 0.104);
    font-family: "poppins", sans-serif;
}
